 <section class="book-room" id="room">
        <h2 style="text-align: center;padding-top:20px ; color: white; font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        ">ĐẶT PHÒNG</h2>

        <form action="" class="book-room-form">
            <div class="book-room-chill">
                <div class="input-group w-20">
                    <div class="input-title">Ngày nhận phòng </div>
                    <input class="input-text" type="datetime-local" value="yyyy-mm-ddT13:00">
                </div>
                <div class="input-group w-20">
                    <div class="input-title">Ngaỳ trả phòng </div>
                    <input class="input-text" type="datetime-local" value="yyyy-mm-ddT13:00">
                </div>
                <div class="input-group w-20">
                    <div class="input-title">Loại phòng </div>
                    <select class="input-text">
                <option value="standardRoom">Room Standard</option>
                <option value="superiorroom">Room Superior</option>
                <option value="deluxeroom">Room Deluxe</option>
                <option value="suiteRoom">Room Suite</option>
              </select>
                </div>
                <div class="input-group w-16">
                    <div class="input-title">Adults</div>
                    <select class="input-text">
                        <option value="ageChildren">1</option>
                        <option value="ageChildren">2</option>
                <option value="ageChildren">5</option>
              </select>
                </div>
                <div class="input-group w-20">
                    <button style="width: 200px; height: 50px; margin-top: 35px; background-color: #012449; border: none; color: white; font-weight: bolder;">TÌM KIẾM </button>
                </div>
            </div>
        </form>
    </section>