 <section id="report hotel">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title wow fadeInDown" >Mô tả khách sạn</h2>
                <p class="wow fadeInDown">Vùng nội địa cốt lõi của Khu phát triển Trung tâm Đà Lạt, thành phố Đà Lạt, Lâm Đồng, Việt Nam, có cảnh quan tuyệt vời của tòa nhà quyền lực mang tính biểu tượng và có thể dễ dàng đi đến nhiều khu mua sắm, giải trí và các địa điểm khác thông qua cây cầu đi bộ sẽ được xây dựng trong tương lai. Các tiện nghi cao cấp toàn diện, thiết kế độc đáo và đơn giản cùng với dịch vụ ấm áp và gần gũi với thiên nhiên làm cho nó trở thành một nơi phong phú cho cuộc sống hiện đại và thông minh.</p>
            </div>

            <div class="row text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="business-stats" data-digit="50" data-duration="1000"></div>
                        <strong>Số khách hàng</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="business-stats" data-digit="45" data-duration="1000"></div>
                        <strong>Số phòng</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="business-stats" data-digit="500" data-duration="1000"></div>
                        <strong>Chén đĩa</strong>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="business-stats" data-digit="20" data-duration="1000"></div>
                        <strong>Nhân viên</strong>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#business-stats-->