<script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script> 
    <script th:src="@{/js/mousescroll.js}"></script>
    <script th:src="@{/js/smoothscroll.js}"></script>
    <script th:src="@{/js/jquery.prettyPhoto.js}"></script>
    <script th:src="@{/js/jquery.isotope.min.js}"></script>
    <script th:src="@{/js/jquery.inview.min.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>
	<script  th:src="@{/js/jquery.ba-cond.min.js}"></script>
    <script  th:src="@{/js/jquery.slitslider.js}"></script>
	<script type="text/javascript" th:src="@{/js/slitslider-custom.js}"></script>
    <script th:src="@{/js/custom-scripts.js}"></script>