 <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title wow fadeInDown">Về khách sạn</h2>
                <p class="wow fadeInDown">Vị trí của khách sạn ở trung tâm thành phố tương đối nhộn nhịp, thích hợp cho những người có nhu cầu du lịch xung quanh thành phố</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                  <img class="img-responsive" id="img_about" src="images/about.jpg" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight;">
                    <h2 class="column-title; about_center">Khách sạn của chúng tôi</h2>
                    <p>Ngoài sảnh tiếp tân tầng một bày bàn ghế gỗ tinh xảo, những đồ đạc mềm mại khác xung quanh cũng mang đậm nét văn hóa truyền thống của Trung Quốc, trong tưởng tượng có vẻ sáng sủa, sáng sủa khá lớn. <br>
                        Nhà hàng ở một không gian riêng biệt ở tầng 1, diện tích không nhỏ, cơ bản phục vụ đủ các món ăn sáng, ăn trưa, ăn tối, so với chức năng cung cấp chỗ ở trong khách sạn kinh doanh thì ở đây khá ổn. rất cao, và quầy lễ tân rất nhiệt tình., dịch vụ tốt. <br>
                        Khi bước vào phòng, thiết kế cấu trúc của căn phòng tạo cảm giác tươi sáng và thích thú. Căn phòng rất rộng, có một lối vào, 3 toilet riêng biệt, đèn và rèm cửa của mỗi phòng có thể được điều khiển thông qua một máy tính bảng.</p>
                    <ul class="listarrow">
                    <li><i class="fa fa-angle-double-right"></i>Dịch vụ phòng</li>
                    <li><i class="fa fa-angle-double-right"></i>Môi trường sân vườn</li>
                    <li><i class="fa fa-angle-double-right"></i>Dịch vụ ăn sáng</li>
                    <li><i class="fa fa-angle-double-right"></i>Dịch vụ dịch thuật</li> 
                    <li><i class="fa fa-angle-double-right"></i>Tắm và cờ vua</li>
                    </ul> 

                </div>
            </div>
        </div>
    </section><!--/#about-->