<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <th:block th:replace="/layout/head.html"></th:block>
</head> 

<body id="home">
   <th:block th:replace="/layout/header.html"></th:block>
   <th:block th:replace="/layout/slider.html"></th:block>
   <th:block th:replace="/layout/booking.html"></th:block>
   <th:block th:replace="/layout/services.html"></th:block>
   <th:block th:replace="/home/about.html"></th:block>
   <th:block th:replace="/layout/portfolio.html"></th:block>
   <th:block th:replace="/layout/report.html"></th:block>
   <th:block th:replace="/home/contact.html"></th:block>
   <th:block th:replace="/layout/footer.html"></th:block>
   
   
    <th:block th:replace="/layout/script.html"></th:block>
</body>
</html>